
/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Noto+Sans+JP&display=swap');

:root {
    --body-font: 'Noto Sans JP', sans-serif;
    --link-color: #000000;
    --hover-color:#01d1b2;
    --logo-text-color: #FFFFFF;
    --navi-link-color: #FFFFFF;
    --navi-link-color-hover: #000000;
    --dropdown-bg-color: #c3d5cc;
    --accent-font: 'Amatic SC', cursive;
    --hero-text-color: #FFFFFF;
    --hero-title-size: 6rem;
    --hero-subtitle-size: 2rem;
    --hero-footer-link: #FFFFFF;
    --hero-footer-link-size: 3rem;
    --section-bottom-bg-color: #f5f5f0;
    --sage-bg-color: #c3d5cc;
}

html {
    font-family: var(--body-font);
    color: var(--body-font-color);
    scroll-behavior: smooth; 
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--hover-color);
}

.m-b-xs {
    margin-bottom: 0.25rem;
}

.m-b-s {
    margin-bottom: 0.5rem;
}

.m-b-m {
    margin-bottom: 0.75rem;
}

.m-b-l {
    margin-bottom: 1rem;
}

/* Header - Logo, Navi, Hero  */

.logo {
    font-family: var(--accent-font);
    color: var(--logo-text-color);
    font-size: 2rem;
    font-weight: bold;
}

a.navbar-item:hover{
    background-color: transparent;
    color: var(--navi-link-color-hover);
}

a.navbar-item.is-active {
    background-color: transparent;
}

.hero-body .title,
.hero-body .subtitle  {
    font-family: var(--accent-font);
    color: var(--hero-text-color);
    font-size: var(--hero-title-size);
}

.hero-body .subtitle {
    font-size: var(--hero-subtitle-size);
}

.has-background-img {
    background-image: 
        linear-gradient(rgba(23, 67, 88, 0.4), rgba(23, 67, 88, 0.4)), 
        url("../img/four-green-yarns-on-chopping-board-2062061.jpg");
    background-size: cover; 
    background-position: center;
}

.hero-foot a {
    color: var(--hero-footer-link);
    font-size: var(--hero-footer-link-size);
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/* Main Content */

p.newsletter {
    font-family: var(--accent-font);
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
   grid-gap: 10px;
}

button {
    background-color: var(--sage-bg-color);
    font-family: var(--accent-font);
    font-size: 1.3rem;
    border:1px solid #ccc;
    cursor: pointer;
    margin: 1px;
}

.section-bottom {
    background-color: var(--section-bottom-bg-color);
}

.social-media-icons {
    margin-bottom: 1rem;
}

.social-media-icons ul li {
   display: inline; 
   font-family: var(--accent-font);
   font-weight: bold;
   font-size: 1.5rem;
   padding: 0 0.5rem;
}

.social-media-icons ul li a:hover {
   color: white;
}

.footer {
    background-color: var(--sage-bg-color);
}


@media screen and (max-width: 1023px) {
    
    .navbar-burger {
        z-index: 100;
    }
    
    .navbar-menu {
        animation: navbarOpen .2s ease-in-out;
    }

    .navbar-menu.is-active {
        position: fixed;
        z-index: 75;
        display: flex;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--sage-bg-color);
        align-items: center;
        justify-content: center;
    }
    
    a.navbar-item {
        font-size: 2rem;
        text-align: center;
    }

    .navbar-dropdown {
        background-color: transparent;
    }

}


/* Animation */

@keyframes bounce {
    
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    
    40% {
        transform: translateY(-30px);
    }
    
    60% {
        transform: translateY(-15px);
    }
  
}

@keyframes navbarOpen {
    0% {   
        display: none;
        opacity: 0;
    }
    
    1% {
        display: block;
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}